<div th:fragment="header">
  <nav class="py-2 bg-light border-bottom mb-4">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item me-3">
            <a
            href="/"
            class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none"
          >
            <span class="fs-4">Estuda Concursos</span>
          </a>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-item">
          <a href="/login" class="nav-link link-dark px-2">Entrar</a>
        </li>
        <li class="nav-item">
          <a href="/cadastro" class="nav-link link-dark px-2">Cadastrar-se</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
