<!DOCTYPE html>
<html lang="pt-br">

<head>
  <div th:replace="~{partials/head}"></div>
  <title>Entrar | Estuda Concursos</title>
</head>

<body class="bg-light">
  <div th:replace="~{partials/header}"></div>

  <!-- container -->
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0
                    min-vh-100">
      <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
        <!-- Card -->
        <div class="card smooth-shadow-md">
          <!-- Card body -->
          <div class="card-body p-6">
            <div class="alert alert-danger" role="alert" th:if="${erro != null}" th:text="${erro}">
            </div>

            <!-- Form -->
            <form method="post" th:action="@{/usuario/login}">
              <!-- Username -->
              <div class="mb-3">
                <label for="email" class="form-label">Usuário</label>
                <input type="email" id="email" class="form-control" name="email" placeholder="Usuário" required>
              </div>
              <!-- Password -->
              <div class="mb-3">
                <label for="senha" class="form-label">Senha</label>
                <input type="password" id="password" class="form-control" name="senha" placeholder="**********" required>
              </div>

              <div>
                <!-- Button -->
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">Entrar</button>
                </div>

                <div class="d-md-flex justify-content-between mt-4">
                  <div class="mb-2 mb-md-0">
                    <a th:href="@{/cadastro}" class="fs-5">
                      Cadastre-se
                    </a>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Scripts -->
<div th:replace="~{partials/scripts}"></div>
</body>
</html>


        
