<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon/check-square.ico}">

<!-- Libs CSS -->
<link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet">
<link th:href="@{/libs/dropzone/dist/dropzone.css}"  rel="stylesheet">
<link th:href="@{/libs/@mdi/font/css/materialdesignicons.min.css}" rel="stylesheet" />
<link th:href="@{/libs/prismjs/themes/prism-okaidia.css}" rel="stylesheet">

<!-- Theme CSS -->
<link rel="stylesheet" th:href="@{/css/theme.min.css}">