<!DOCTYPE html>
<html lang="pt-br">

<head>
  <div th:replace="~{partials/head}"></div>
  <title>Dashboard | Estuda Concursos</title>
</head>

<body class="bg-light">
<div th:replace="~{partials/header}"></div>

  <!-- content -->
  <div class="row p-6 py-8">
      <!-- col -->
      <div class="offset-xl-1 col-xl-10 col-md-12">
        <div class="row">
          <!-- text -->
          <div class="col-md-12 col-12">
            <h1 class="display-4 fw-bold ls-sm">Dashboard</h1>
          </div>
        </div>

        <div class="row">
          <a th:href="@{/categoria}">Gerenciar Categorias</a>
        </div>

      </div>
  </div>

<!-- Scripts -->
<div th:replace="~{partials/scripts}"></div>
</body>
</html>