<!DOCTYPE html>
<html lang="pt-br">

<head>
    <div th:replace="~{partials/head}"></div>
    <title>Gerenciar Categorias | Estuda Concursos</title>
</head>

<body class="bg-light">
    <div th:replace="~{partials/header}"></div>

    <!-- content -->
    <div class="row p-6 py-8">
        <!-- col -->
        <div class="offset-xl-1 col-xl-10 col-md-12">
            <div class="row mb-3">
                <!-- text -->
                <div class="col-md-12 col-12">
                    <a class="btn btn-primary me-2" th:href="@{/dashboard}">
                        VOLTAR
                    </a>

                    <a class="btn btn-primary" th:href="@{/questao/nova}">
                        NOVA QUESTAO
                    </a>
                </div>
            </div>

            <div class="row" th:if="${sucesso != null}">
                <div class="col-12">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Sucesso!</strong> Questao cadastrada com sucesso
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-12">
                    <!-- card  -->
                    <div class="card">
                        <!-- card header  -->
                        <div class="card-header bg-white  py-4">
                            <h4 class="mb-0">Questões</h4>
                        </div>
                        <!-- table  -->
                        <div class="table-responsive">
                            <table class="table text-nowrap mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th>Enunciado</th>
                                        <th>Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="questao: ${questoes}">
                                        <td class="align-middle" th:text="${questao.enunciado}"></td>
                                        <td class="align-middle">
                                            <a th:href="@{/questao/editar/{id}(id=${questao.id})}">Editar</a>, 
                                            <a th:href="@{/questao/remover/{id}(id=${questao.id})}">Excluir</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <div th:replace="~{partials/scripts}"></div>
</body>

</html>